models/buffalo_l/2d106det.onnx
models/buffalo_l/det_10g.onnx
models/buffalo_l/genderage.onnx
models/buffalo_l/w600k_r50.onnx

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
.env
.env.*
.vscode/
node_modules/
frontend_part/project/node_modules/
faceenv
faceenv310
